# Client environment variables
REACT_APP_GOOGLE_CLIENT_ID=<your google client id>
REACT_APP_PROD=http://localhost:3001/api

# Server environment variables
CLIENT=http://localhost:3000 
MONGODB_URI=<mongodb uri string>
EMAIL_USER=your_email@gmail.com for feedback form
EMAIL_APP_PASSWORD=your_app_specific_password
SESSION_SECRET=your session secret
GOOGLE_CLIENT_ID=your client id from google cloud console
GOOGLE_CLIENT_SECRET=your oauth password

TODOIST_CLIENT_ID=your client id
TODOIST_CLIENT_SECRET=your client secret
TODOIST_REDIRECT_URL=http://localhost:3001/api/auth/todoist/callback 
TICKTICK_CLIENT_ID=your client id
TICKTICK_CLIENT_SECRET=your client secret
TICKTICK_REDIRECT_URL=http://localhost:3001/api/auth/ticktick/callback

GEMINI_API_KEY=your model key
